[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/src/vendor"]
	path = engine/src/vendor
	url = github:glfw/glfw
[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = github:C3NZ/imgui
[submodule "engine/vendor/--force"]
	path = engine/vendor/--force
	url = github:C3NZ/imgui
