[submodule "archive/lambda_cpp/vendor/glfw"]
	path = archive/lambda_cpp/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "archive/lambda_cpp/vendor/imgui"]
	path = archive/lambda_cpp/vendor/imgui
	url = https://github.com/C3NZ/imgui
[submodule "archive/lambda_cpp/vendor/glm"]
	path = archive/lambda_cpp/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "docs"]
	path = docs
	url = https://github.com/C3NZ/game-engine-docs.git
[submodule "archive/lambda_cpp/vendor/spdlog"]
	path = archive/lambda_cpp/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "archive/lambda_cpp/vendor/readerwriterqueue"]
	path = archive/lambda_cpp/vendor/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "archive/lambda_cpp/vendor/concurrentqueue"]
	path = archive/lambda_cpp/vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "archive/lambda_cpp/vendor/googletest"]
	path = archive/lambda_cpp/vendor/googletest
	url = https://github.com/google/googletest
[submodule "lambda-sh"]
	path = lambda-sh
	url = https://github.com/lambda-sh/lambda-sh
